# This is a basic workflow to help you get started with Actions

name: KPS-CICD

# events changes on master
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
# trigger on tag
#on:
#  push:
#    tags:
#      - '*'


# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a single command using the runners shell
      - name: Build and Push to Docker Hub
        uses: docker/build-push-action@v1
        with:
            username: ${{ secrets.DOCKER_USER }}
            password: ${{ secrets.DOCKER_PASS }}
            repository: hexadtech/mask-detector
            tag_with_ref: true

#      - name: Get tag
#        id: tag
#        uses: dawidd6/action-get-tag@v1

      - name: Setup pyton to run deploy script
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Excute deploy script
        run: |
          python deploy/kps_deploy.py
        env:
          APPLICATION_UUID: 817c6f3c-7f0b-4189-83b6-07d6966e4546
          KPS_API_KEY: ${{ secrets.KPS_API_KEY }}


